:root {
  --mainColor: rgb(36, 39, 41);
  --mainFontColor: white;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  display: grid;
  background-color: var(--mainColor, white);
  color: var(--mainFontColor, black);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.body-margin {
  padding: 10px;
}
hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: red;
  height: 1px;
}
header {
  background-image: linear-gradient(to right, var(--mainColor, white), red);
  color: var(--mainFontColor, black);
  overflow: hidden;
  height: 100px;
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 100;
  padding: none;
  /* border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px; */
  box-shadow: 0px 6px 17px 0 black;
  /* Top  Right Bottom Left
    10px 10px  10px   10px */
}
section {
  background-image: url("/Images/Coding-background.jpeg");
  background-attachment: fixed;
  /* background-position: center; */
  background-size: cover;
  color: white;
  /* border: 5px;
  border-color: rgb(0, 255, 136) cyan;
  border-style: solid; */
  border: 5px solid white;
  margin: 10px;
  border-radius: 10px;
}
article {
  background-image: linear-gradient(red, var(--mainColor, white));
  color: white;
  padding: 10px;
  line-height: 1.6;
  word-break: break-word;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
}
video {
  border-radius: 25px;
  display: block;
  margin: 0 auto;
}
.welcome-screen {
  font-size: xx-large;
  font-weight: bold;
  font-family: "Cairo", sans-serif;
  background-color: green;
  height: fit-content;
  width: fit-content;
  padding: 10px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 5px solid white;
}
.arabic {
  text-align: right;
  direction: rtl;
  letter-spacing: 0;
}
.header_links {
  margin-top: inherit;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  text-decoration: none;
}
.header_links:hover {
  background-color: black;
  color: white;
  border: 2px solid red;
}
#list-nav {
  text-decoration: none;
  list-style: none;
  display: inline-block;
}
.logo {
  float: left;
  margin: 0;
  /* display: inline-block; */
}
button {
  background: transparent;
  cursor: pointer;
}
.nav_links,
.header_links {
  display: inline-block;
  padding: 5px;
  color: var(--mainFontColor, black);
  cursor: pointer;
}
.clear {
  clear: both;
}
.scroll-up {
  background-color: red;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 15px;
  position: fixed;
  bottom: 10px;
  right: 20px;
  text-align: center;
  z-index: 101;
}
.scroll-up:hover {
  background-color: aqua;
  cursor: pointer;
}
.first-p::first-letter {
  font-family: "Times New Roman", Times, serif;
  font-size: 100px;
  display: inline-block;
  font: bold;
}
::selection {
  background-color: red;
}
.box1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.box1 div {
  padding-top: 50px;
  padding-bottom: 150px;
  background-color: red;
  text-align: center;
  width: calc(60% / 3);
  border-radius: 15px;
  box-shadow: 10px 16px 11px -1px black;
}
.Skills {
  background-color: black;
  border-radius: 10px;
  border: 2px solid green;
  width: fit-content;
  padding: 5px;
  margin: 5px;
  transition: margin-left 0.5s ease;
  cursor: pointer;
}
.Skills:hover {
  margin-left: 20px;
}
/* Content Width Is :100%
4 Spaces 15% * 4 => 60% From Content Width
40% Available Space
3 Elements The Width Is: 40% / 3 
*/
