:root {
  --mainColor: rgb(36, 39, 41);
  --mainFontColor: white;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  display: grid;
  padding: 10px;
  background-color: var(--mainColor, white);
  color: var(--mainFontColor, black);
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: red;
  height: 1px;
}
header {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, var(--mainColor, white), red);
  color: var(--mainFontColor, black);
  padding: 0px 1%;
  box-shadow: 0px 6px 17px 0 black;
  position: sticky;
  top: 0px;
}
.nav_list,
.header_links,
.cta {
  color: var(--mainFontColor, black);
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
  cursor: pointer;
}
.nav_links {
  list-style: none;
}
.nav_list {
  display: inline-block;
  padding: 0px 20px;
}
.header_links {
  transition: all0.3s ease 0s;
  padding: 5px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
}
.header_links:hover {
  background-color: black;
  color: white;
  border: 2px solid red;
}
.contact_button {
  padding: 9px 25px;
  color: white;
  background-color: rgb(36 39 41 / 100%);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.contact_button:hover {
  background-color: rgb(36 39 41 / 80%);
  color: white;
}
section {
  background-image: url("/Images/Coding-background.jpeg");
  background-attachment: fixed;
  background-size: cover;
  color: white;
  border: 5px solid white;
  margin: 10px;
  border-radius: 10px;
}
.welcome-screen {
  font-size: xx-large;
  font-weight: bold;
  font-family: "Cairo", sans-serif;
  background-color: green;
  height: fit-content;
  width: fit-content;
  padding: 10px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 5px solid white;
}
.welcome-screen:hover {
  transform: scale(1.1) rotate(5deg);
  opacity: 0.8;
  transition: 0.3s;
}
article {
  background-image: linear-gradient(red, transparent);
  color: white;
  padding: 10px;
  line-height: 1.6;
  word-break: break-word;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
}
video {
  border-radius: 25px;
  display: block;
  margin: 0 auto;
}

.arabic {
  text-align: right;
  direction: rtl;
  letter-spacing: 0;
}
.clear {
  clear: both;
}
.scroll-up {
  background-color: red;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 15px;
  position: fixed;
  bottom: 10px;
  right: 20px;
  text-align: center;
  z-index: 101;
}
.scroll-up:hover {
  background-color: aqua;
  cursor: pointer;
}
.first-p::first-letter {
  font-family: "Times New Roman", Times, serif;
  font-size: 100px;
  display: inline-block;
  font: bold;
}
::selection {
  background-color: red;
}
.box1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.box1 div {
  padding-top: 50px;
  padding-bottom: 150px;
  background-color: red;
  text-align: center;
  width: calc(60% / 3);
  border-radius: 15px;
  box-shadow: 10px 16px 11px -1px black;
  transition: transform 1s;
}
.box1 div:hover {
  transform: rotateZ(360deg) rotateY(360deg);
}
.B1 {
  background-image: url(/Images/HTML-image.png);
  background-position: center;
}
.B2 {
  background-image: url(/Images/CSS-image.png);
  background-repeat: round !important;
}
.B3 {
  background-image: url(/Images/javascript-image.png);
  background-position: center;
}
.B1,
.B2,
.B3 {
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
}

.B1:hover,
.B2:hover,
.B3:hover {
  filter: grayscale(0);
}
.Skills {
  background-color: black;
  border-radius: 10px;
  border: 2px solid green;
  width: fit-content;
  padding: 5px;
  margin: 5px;
  transition: margin-left 0.5s ease;
  cursor: pointer;
}
.Skills:hover {
  margin-left: 20px;
}
/* Content Width Is :100%
4 Spaces 15% * 4 => 60% From Content Width
40% Available Space
3 Elements The Width Is: 40% / 3 
*/
