$color_1: white;
$color_2: black;
$color_3: #0094c6;
$color_4: cyan;
$color_5: yellow;
$color_6: rgb(255, 255, 255);
$color_7: #dddddd69;
$color_8: #005e7c;
$font-family_1: "Poppins", sans-serif;
$background-color_1: transparent;
$background-color_2: black;
$background-color_3: white;
$background-color_4: rgba(0, 0, 0, 0.089);
$background-color_5: var(--secondary-color);
$background-color_6: #040f16;
$background-color_7: rgba(221, 221, 221, 0.411);
$background-color_8: #ff7b00;
$background-color_9: #2196f3;
$background-color_10: #c0c404;
$background-color_11: #0400ff;
$background-color_12: #00ff22;
$background-color_13: #ff4800; 
$background-color_14: #12212b;
$border-color_1: white;
$mobile-width:"max-width:680px;";
$main-color: #0094c6;
$secondary-color: #005e7c;
$third-color: #00008a;
$fourth-color: #001242;
$fifth-color: #040f16;