:root {
  --mainFontColor: white;
  --mainGradient1: rgba(0, 0, 0, 0.7);
  --mainGradient2: rgba(0, 0, 0, 0.3);
  --mainGradient3: rgb(0, 140, 255);
  --mainGradient4: red;
  --scrollbarBG: #000000da;
  --thumbBG: #ff0000;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  margin: 0;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  display: grid;
  background-image: linear-gradient(
    to top right,
    var(--mainGradient3, blue),
    var(--mainGradient4, red)
  );
  /* height: 100vh; */
  color: var(--mainFontColor, black);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  scrollbar-width: auto;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  overflow-x: hidden !important;
  user-select: none;
}
body::-webkit-scrollbar {
  width: 11px;
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 4px;
  border: 2px solid var(--scrollbarBG);
}
.arabic {
  text-align: right;
  direction: rtl;
  letter-spacing: 0;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
::selection {
  background-color: red;
}
hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: red;
  height: 1px;
}
.up {
  position: fixed;
  right: -50px;
  bottom: 20px;
  background: linear-gradient(
    to right bottom,
    rgb(0, 60, 255),
    rgb(0, 255, 34)
  );
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  z-index: 99;
}
.up.show {
  right: 20px !important;
}
header {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    to right bottom,
    var(--mainGradient1, rgba(255, 255, 255, 0.7)),
    var(--mainGradient1, rgba(255, 255, 255, 0.3))
  );
  backdrop-filter: blur(2rem);
  color: var(--mainFontColor, black);
  padding: 0px 1%;
  box-shadow: 0px 6px 17px 0 black;
  /* position: sticky; */
  top: 0px;
  z-index: 100;
  width: 100%;
  height: 105px;
}
.logo {
  cursor: pointer;
  width: 100px;
  height: 100px;
}
.logo:hover {
  width: 90px;
  height: 90px;
  margin-left: 10px;
}
nav button {
  display: inline-block;
  list-style: none;
  padding: 0px 20px;
}
nav button {
  color: var(--mainFontColor, black);
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all0.3s ease 0s;
  padding: 8px;
  margin: 5px;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
}
nav button:hover {
  background-color: var(--mainGradient3, blue);
  /* color: white; */
  border: 2.5px solid red;
}
.contact_button {
  padding: 9px 25px;
  color: white;
  background-color: var(--mainGradient3, blue);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  user-select: none;
}
.contact_button:hover {
  background-color: rgb(36 39 41 / 80%);
  color: white;
}
/* section {
  background-image: url("/Images/Coding-background.jpeg");
  background-attachment: fixed;
  background-size: cover;
  color: white;
  border: 5px solid white;
  margin: 10px;
  border-radius: 10px;
} */
m-header {
  background: linear-gradient(
    to right bottom,
    var(--mainGradient1, rgba(255, 255, 255, 0.7)),
    var(--mainGradient1, rgba(255, 255, 255, 0.3))
  );
  backdrop-filter: blur(2rem);
  color: var(--mainFontColor, black);
  padding: 0px 1%;
  /* box-shadow: 0px 6px 17px 0 black; */
  /* position: sticky; */
  top: 0px;
  z-index: 100;
}
@media screen and (min-width: 566px) {
  m-header {
    display: none;
  }
}
.menu-nav {
  display: grid;
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    to right bottom,
    var(--mainGradient1, rgba(255, 255, 255, 0.7)),
    var(--mainGradient1, rgba(255, 255, 255, 0.3))
  );
  top: 6.5rem;
  z-index: 99;
  display: flex;
  align-items: top;
  justify-content: center;
  position: absolute;
  left: -50rem;
  transition: all 0.8s;
  margin-bottom: 20px;
}
.m-nav-items {
  list-style: none;
  margin: 40% 0;
  top: 0;
  margin-bottom: 20px;
}
.m-nav-button {
  padding-left: 10px;
  display: block;
  padding: 22px 8px;
  background: transparent;
  border: none;
  font-weight: bold;
  color: white;
  font-size: 2rem;
  margin-bottom: 20px;
}
.m-contact-button {
  padding: 9px 25px;
  color: white;
  background-color: var(--mainGradient3, blue);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  position: absolute;
  bottom: 145px;
  font-size: 30px;
  left: 120px;
}
.menu-toggler {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  background-color: var(--mainGradient3, blue);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}
#mycheckbox {
  display: none;
}
#mycheckbox:checked + .menu-nav {
  left: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
section p {
  font-size: xx-large;
  font-weight: bold;
  font-family: "Cairo", sans-serif;
  background-color: green;
  height: fit-content;
  width: fit-content;
  padding: 10px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 5px solid white;
  animation: color-changer 6s infinite;
}
section p:hover {
  transform: scale(1.1) rotate(5deg);
  opacity: 0.8;
  transition: 0.3s;
  animation-play-state: paused;
}
@keyframes color-changer {
  0% {
    background-color: green;
  }
  25% {
    background-color: red;
  }
  50% {
    background-color: blue;
  }
  75% {
    background-color: red;
  }
  100% {
    background-color: green;
  }
}
.backcircle1,
.backcircle2,
.backcircle3 {
  height: 200px;
  width: 200px;
  border-radius: 20%;
  position: absolute;
  z-index: -100;
  box-shadow: inset -2px -2px 20px 0px black;
}
.backcircle1 {
  top: 300px;
  left: 10px;
  transform: rotate(10deg);
  background: linear-gradient(
    to right bottom,
    rgb(230, 64, 64),
    rgb(71, 227, 255)
  );
}
.backcircle2 {
  top: 1200px;
  right: 20px;
  transform: rotate(350deg);
  background: linear-gradient(to top, rgb(230, 64, 64), rgb(71, 227, 255));
}
.backcircle3 {
  top: 2000px;
  left: 10px;
  transform: rotate(10deg);
  background: linear-gradient(rgb(230, 64, 64), rgb(71, 227, 255));
}
.tabcontent {
  color: white;
  display: none;
  padding: 10px 20px;
  height: 100%;
}
article {
  /* margin: 0 100px; */
  display: grid;
  background: linear-gradient(
    to right bottom,
    var(--mainGradient1, rgba(255, 255, 255, 0.7)),
    var(--mainGradient1, rgba(255, 255, 255, 0.3))
  );
  color: white;
  padding: 0px;
  line-height: 1.6;
  font-family: "Cairo", Arial, Helvetica, sans-serif;
  border-radius: 2rem;
  backdrop-filter: blur(2rem);
  z-index: 20;
  box-shadow: inset -2px -2px 20px 0px black;
}
article div {
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
}
article h1 {
  text-align: center;
  font-size: 50px;
  color: #fff;
  font-weight: 800;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #00fffa;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  min-width: min-content;
  /* max-width: max-content; */
  justify-self: center;
}
article div h2 {
  padding: 20px;
}
.first-p::first-letter {
  font-family: "Times New Roman", Times, serif;
  font-size: 100px;
  display: inline-block;
  font: bold;
}
article div p {
  padding: 0 20px;
}
article div li {
  background-color: transparent;
  border-radius: 10px;
  border: 3px solid red;
  width: fit-content;
  padding: 5px;
  margin: 5px;
  transition: margin-left 0.5s ease;
  cursor: pointer;
  position: relative;
}
article div li:hover {
  margin-left: 20px;
  background-color: var(--mainGradient3, blue);
}
.info-p {
  line-height: 1.9;
  font-size: 20px;
}
.project {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.project .content img {
  width: 300px;
  border: 1px solid black;
  border-radius: 10px;
}
#page3 > div.project > div:nth-child(3) > div > h3 {
  font-size: 17px;
}
.content {
  flex-direction: column;
}
.info {
  flex-wrap: wrap;
  width: 300px;
  margin: 20px;
  text-align: center;
  background-color: #00ff95;
  border-radius: 10px;
  max-height: 250px;
  padding: 10px;
}
.content .info h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
/* .project .content .info::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 10px;
  border-color: red green yellow blue;
  z-index: 50;
} */

/* video {
  border-radius: 25px;
  display: block;
  margin: 0 auto;
} */
/* .clear {
  clear: both;
} */
/* .scroll-up {
  background-color: red;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 15px;
  position: fixed;
  bottom: 10px;
  right: 20px;
  text-align: center;
  z-index: 101;
}
.scroll-up:hover {
  background-color: aqua;
  cursor: pointer;
} */
.cards {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.cards a {
  padding-top: 50px;
  padding-bottom: 150px;
  background-color: red;
  text-align: center;
  /* width: calc(60% / 3); */
  width: 250px;
  height: 250px;
  border-radius: 15px;
  box-shadow: 10px 16px 11px -1px black;
  transition: transform 1s;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
  margin: 25px 10px;
}
.cards a:hover {
  transform: rotateZ(360deg) rotateY(360deg);
}
.cards a:nth-child(1) {
  background-image: url(/Images/HTML-image.png);
  background-position: center;
}
.cards a:nth-child(2) {
  background-image: url(/Images/CSS-image.png);
  background-repeat: round !important;
}
.cards a:nth-child(3) {
  background-image: url(/Images/javascript-image.png);
  background-position: center;
}
.cards a:nth-child(4) {
  background-image: url(/Images/Python-image.png);
  background-position: center;
}
.cards a:hover {
  filter: grayscale(0);
}
@media screen and (max-width: 565px) {
  /* article {
    margin-left: 10px;
    margin-right: 10px;
  } */
  .cards a {
    filter: grayscale(0);
  }
  header {
    display: none;
  }
}
.loader-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background: #4b4b4b;
  transition: all 1s ease-in-out;
  z-index: 900;
}
.load {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}
.load div {
  margin: 0 5px;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  animation: up-and-down 0.9s infinite linear alternate;
}
.load div:nth-child(2) {
  animation-delay: 0.3s;
}
.load :last-child {
  animation-delay: 0.6s;
}
@keyframes up-and-down {
  to {
    opacity: 0.2;
    transform: translateY(-20px);
  }
}
.social-container {
  background-image: linear-gradient(to bottom, #00ff95, rgb(59, 183, 255));
  border-radius: 10px;
  width: fit-content;
}
.social-container ul {
  padding-left: 10px;
  list-style-type: none;
}
.social-container p {
  font-weight: 800;
  font-size: 20px;
  padding: 10px;
  margin: 0;
}
.social {
  /* position: absolute; */
  /* z-index: 10; */
  /* bottom: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li {
  list-style: none;
}
.social li a {
  color: white;
  display: inline-block;
  margin-right: 10px;
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover {
  transform: scale(0.5) translateY(-15px);
}
/* Content Width Is :100%
4 Spaces 15% * 4 => 60% From Content Width
40% Available Space
3 Elements The Width Is: 40% / 3 
*/
/* article {
    margin-left: 25px;
    margin-right: 25px;
  }
}
@media screen and (min-width: 769px) {
  article {
    margin-left: 100px;
    margin-right: 100px;
  }
} */
footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-color: red;
  z-index: 2;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  height: 50px;
  font-weight: 800;
}
footer span {
  color: #00ff95;
}
@media print {
  .load {
    display: none;
  }
}
/* Style the tab content (and add height:100% for full page content) */
