@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-color: #0094c6;
  --secondary--color: #005e7c;
  --third-color: #00008a;
  --fourth-color: #001242;
  --fifth-color: #040f16;
}

* {
  font-family: "Poppins", sans-serif;
  /* font-size: 1em; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}
body {
  overflow-x: hidden;
}
label .menu {
  position: fixed;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 205px;
  height: 197px;
  background: var(--fifth-color);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 0 0 var(--fourth-color), 0 0 0 0 var(--fourth-color);
  cursor: pointer;
}

label .hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: white;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

label .hamburger:after,
label .hamburger:before {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: white;
}

label .hamburger:before {
  top: -10px;
}

label .hamburger:after {
  bottom: -10px;
}

label input {
  display: none;
}

label input:checked + .menu {
  background: #041f38cf;
  box-shadow: 0 0 0 100vw #041f38cf, 0 0 0 100vw #041f38cf;
  border-radius: 0;
}
@media screen and (max-width: 768px) {
  label input:checked + .menu {
    box-shadow: 0 0 0 150vh #041f38cf, 0 0 0 150vh #041f38cf;
  }
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

label input:checked + .menu + ul {
  opacity: 1;
  z-index: 100;
}

label ul {
  /* height: 100vh; */
  z-index: -30;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 0.25s 0s ease-in-out;
  transition: 0.25s 0s ease-in-out;
  list-style: none;
}

label a {
  margin: 1em;
  display: block;
  background-color: transparent;
  border: 5px white solid;
  color: white;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 1.17em;
  font-weight: 500;
  padding: 15px;
  /* margin: 2px 5px; */
}
label a:hover {
  background-color: black;
  color: white;
}
header {
  background-color: transparent;
  width: 100%;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 150px;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: none;
}
/* header > div {
  margin-left: 200px;
} */
.logo {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;
}
.logo-scroll {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;
}

#logoimage {
  width: 70px;
  height: 70px;
}
header div {
  display: flex;
  align-items: center;
}

.logo:hover {
  color: black;
}
.logo-scroll:hover {
  color: white;
}

html {
  width: 100vw;
}

section {
  padding: 100px 200px;
}

@media (max-width: 1024px) {
  header {
    padding: 12px 20px;
  }

  .title {
    font-size: 1.8em;
  }

  section {
    padding: 80px 20px;
  }

  .main-content h2 {
    font-size: 1em;
  }

  .main-content h3 {
    font-size: 1.6em;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 640px) {
  body {
    font-size: 12px;
  }

  .main-content h2 {
    font-size: 0.8em;
  }

  .main-content h3 {
    font-size: 1.4em;
  }
}

@media (max-width: 640px) {
  body {
    font-size: 12px;
  }
}

.en-ar {
  text-decoration: none;
  background-color: transparent;
  color: white;
  border: solid;
  border-radius: 25px;
  padding: 5px;
  font-size: large;
  font-weight: bold;
}
.en-ar:hover {
  background-color: white;
  color: black;
}

.en-ar-scroll {
  text-decoration: none;
  background: white;
  color: black;
  border: solid;
  border-radius: 25px;
  padding: 5px;
  font-size: large;
  font-weight: bold;
}
.en-ar-scroll:hover {
  background-color: black;
  color: white;
}

@media screen and (min-width: 768px) {
  .en-ar,
  .en-ar-scroll {
    position: absolute;
    right: 120px;
  }
}
@media screen and (max-width: 768px) {
  .en-ar,
  .en-ar-scroll {
    position: absolute;
    right: 120px;
  }
}
/* @media screen and (max-width: 680px) {
  .en-ar {
    position: absolute;
    right: 120px;
  }
} */
.linkedin {
  text-decoration: none;
  color: cyan;
  font-weight: bold;
  cursor: pointer;
}
.infoLinks {
  text-decoration: none;
  color: cyan;
}
.infoSpan {
  color: yellow;
}

.about li {
  list-style: none;
}
.infoHeader {
  text-align: center;
  padding: 5px 15px;
}
.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  background-image: linear-gradient(#121212bb, #005d7c80),
    url("../images/blob-scene-haikei.svg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.089);
  width: 100%;
  height: 100%;
}

.main h2 {
  color: white;
  font-size: 1.4em;
  font-weight: 500;
}

.main h2 span {
  display: inline-block;
  margin-top: 10px;
  color: var(--main-color);
  font-size: 2em;
  font-weight: 600;
}

.main h3 {
  color: white;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.main-btn {
  color: white;
  background-color: var(--secondary--color);
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 40px;
  transition: 0.7s ease;
}

.main-btn:hover {
  background-color: var(--secondary--color);
  transform: scale(1.1);
}
.facelogo {
  border-radius: 50%;
  margin-top: 25px;
  animation: up-down 1s infinite alternate-reverse;
  -webkit-animation: up-down 1s infinite alternate-reverse;
}
@keyframes up-down {
  from {
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }
  to {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
  }
}
.social-icons a {
  color: white;
  font-size: 1.7em;
  padding-right: 30px;
}
.social-icons a i {
  transition: all 0.5s ease-in-out;
}
.social-icons a i:hover {
  transform: translate(0px, -10px);
  transition: all 0.5s ease-in;
}

.title {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
  background-color: var(--fifth-color);
  border-radius: 15px;
  border: 3px solid white;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  background: linear-gradient(
    to right bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.5)
  );
  color: white;
  min-width: 21.25em;
  box-shadow: -7px 7px 25px rgb(1 1 1 / 73%);
  /* backdrop-filter: blur(5rem); */
  /* -webkit-backdrop-filter: blur(5rem); */
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
  transition: 0.7s ease;
}
.about {
  background: linear-gradient(0deg, var(--fourth-color), var(--fifth-color));
}
@media screen and (max-width: 768px) {
  .about .card q {
    font-size: 1.5em;
  }
  .about .card p {
    font-size: 1.4em;
  }
}
.about q {
  padding: 5px;
  font-size: 1.2em;
}
#about > div > div {
  padding: 25px;
}

.card:hover {
  transform: scale(1.1);
}

.card .icon {
  color: var(--main-color);
  font-size: 8em;
  text-align: center;
}

.info {
  text-align: center;
}

.info h3 {
  color: white;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}
.custom-shape-divider-top-1644089374 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  background: var(--main-color);
  /* z-index: 0; */
}

.custom-shape-divider-top-1644089374 svg {
  position: relative;
  display: block;
  z-index: 25;
  width: calc(100% + 1.3px);
  height: 130px;
}

.custom-shape-divider-top-1644089374 .shape-fill {
  fill: var(--main-color);
  z-index: 25;
}

/** For mobile devices **/
@media (max-width: 768px) {
  .custom-shape-divider-top-1644089374 svg {
    width: calc(148% + 1.3px);
    height: 130px;
  }
}

.Skills {
  background: linear-gradient(180deg, var(--main-color), var(--fourth-color));
}
.Skills .card h2 {
  text-align: center;
  padding-bottom: 10px;
}
.Skills .card {
  padding: 25px 50px;
  font-size: 1.17em;
}
#skills > div > div:nth-child(1) > h2 > svg {
  height: 20px;
  width: 30px;
  fill: white;
}
#skills > div > div:nth-child(2) > h2 > svg {
  height: 20px;
  width: 30px;
  fill: white;
}
div svg {
  height: 30px;
  width: 30px;
  fill: white;
  display: inline-block;
}
div p {
  display: inline-block;
  vertical-align: super;
}
/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: rgba(221, 221, 221, 0.411); /* Grey background */
  border-radius: 10px;
  margin-bottom: 10px;
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  padding-right: 10px;
  border-radius: 10px;
  color: white; /* White text color */
}

.html {
  width: 90%;
  background-color: #ff7b00;
} /* orange */
.css {
  width: 80%;
  background-color: #2196f3;
} /* cyan */
.js {
  width: 65%;
  background-color: #c0c404;
  color: rgb(255, 255, 255);
} /* yellow */
.photo {
  width: 85%;
  background-color: #0400ff;
} /* blue */
.video {
  width: 55%;
  background-color: #00ff22;
} /* green */
.computer {
  width: 95%;
  background-color: #ff4800;
} /* orange */

.projects {
  background-color: #001242;
}

.projects .content {
  margin-top: 30px;
}

.project-card {
  background-color: black;
  border: 2px solid black;
  color: white;
  min-height: 15rem;
  min-width: 25rem;
  overflow: hidden;
  border-radius: 10px;
  margin: 20px;
  transition: 0.7s ease;
  position: relative;
}

.project-card:hover {
  transform: scale(1.1);
}

.project-card:hover {
  opacity: 0.9;
}
@media screen and (max-width: 640px) {
  .project-card {
    min-height: 10rem;
    min-width: 20rem;
  }
}

.imageOne {
  /* width: 100%;
  height: 100%; */
  background: linear-gradient(#0094c69c, #001242a9),
    url(../images/quotacalc.webp);
  background-size: cover;
  background-repeat: no-repeat;
}
.imageTwo {
  /* width: 100%;
  height: 100%; */
  background: linear-gradient(#0094c69c, #001242a9), url(../images/school.webp);
  background-size: cover;
  background-repeat: no-repeat;
}
.imageThree {
  /* width: 100%;
  height: 100%; */
  background: linear-gradient(#0094c69c, #001242a9),
    url(../images/python_login.webp);
  background-size: cover;
  background-repeat: no-repeat;
}
.imageFour {
  /* width: 100%;
  height: 100%; */
  background: linear-gradient(#0094c69c, #001242a9),
    url(../images/Animal_card.webp);
  background-size: cover;
  background-repeat: no-repeat;
}
.imageFive {
  /* width: 100%;
  height: 100%; */
  background: linear-gradient(#0094c69c, #001242a9),
    url(../images/AK_collage.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

/* .project-image img {
  width: 100%;
} */

.project-info {
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.664);
}

.project-category {
  font-size: 1em;
  font-weight: bold;
  color: #dddddd69;
}

.project-title {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 10px;
}

.more-details {
  text-decoration: none;
  color: yellow;
}

.more-details:hover {
  color: var(--secondary--color);
}

.contact {
  background: linear-gradient(360deg, var(--third-color), var(--fifth-color));
  display: flex;
  flex-direction: column;
}

.contactForm {
  background-color: white;
  color: black;
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  width: min-content;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.contactForm > h1 {
  margin-bottom: 2rem;
}
.contactForm > form {
  display: flex;
  flex-direction: column;
  width: 24rem;
  gap: 1rem;
}
@media screen and (max-width: 640px) {
  .contactForm > form {
    width: 17rem;
  }
}
.contactForm > form > input,
.contactForm > form > select,
.contactForm > form > textarea {
  padding: 1.4rem;
  background: transparent;
  border: 1px solid black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.contactForm > form > textarea {
  height: 10rem;
}

.contactForm > form > button {
  font-size: 20px;
  width: 8rem;
  align-self: center;
  padding: 1.2rem;
  cursor: pointer;
  border-radius: 25px;
  background: var(--main-color);
  color: white;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.contactForm > form > button:hover,
.contactForm > form > button:focus {
  background-color: var(--secondary--color);
}

.footer {
  background-color: var(--fifth-color);
  color: white;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.footer-title {
  font-size: 1.3em;
  font-weight: 600;
}

.footer-title span {
  color: var(--secondary--color);
}

.footer .social-icons a {
  font-size: 1.3em;
  padding: 0 12px 0 0;
}
