@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  /* font-size: 1em; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}

label .menu {
  position: fixed;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 205px;
  height: 197px;
  background: #001e3c;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 0 0 #001e3c, 0 0 0 0 #001e3c;
  cursor: pointer;
}

label .hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: white;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

label .hamburger:after,
label .hamburger:before {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: white;
}

label .hamburger:before {
  top: -10px;
}

label .hamburger:after {
  bottom: -10px;
}

label input {
  display: none;
}

label input:checked + .menu {
  background: #002444;
  box-shadow: 0 0 0 100vw #001e3cce, 0 0 0 100vw #001e3cc4;
  border-radius: 0;
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

label input:checked + .menu + ul {
  opacity: 1;
}

label ul {
  /* height: 100vh; */
  z-index: 200;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 0.25s 0s ease-in-out;
  transition: 0.25s 0s ease-in-out;
  list-style: none;
}

label a {
  margin: 1em;
  display: block;
  background-color: transparent;
  border: 5px white solid;
  color: white;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 1.17em;
  font-weight: 500;
  padding: 15px;
  /* margin: 2px 5px; */
}
label a:hover {
  background-color: #000000;
  color: white;
}
header {
  background-color: #00aeff;
  width: 100%;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 150px;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 7px 15px 5px rgb(0 0 0 / 32%);
}

.logo {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;
}

#logoimage {
  width: 70px;
  height: 70px;
}
header div {
  display: flex;
  align-items: center;
}

/* .navigation ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.navigation a {
  background-color: white;
  border-radius: 10px;
  text-align: center;
  color: black;
  text-decoration: none;
  font-size: 1.17em;
  font-weight: 500;
  padding: 8px;
  margin: 2px 5px;
}

.navigation a:hover {
  background-color: #000000;
  color: white;
}
@media screen and (max-width: 768px) {
  body > header > nav > ul > li:nth-child(3) {
    padding-top: 20px;
  } */
.logo:hover,
.navigation a:hover {
  color: white;
}
section {
  padding: 100px 200px;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  /* background: url(/assets/images/landing2.webp) no-repeat; */
  /* background: linear-gradient(90deg, rgb(0, 0, 0), cyan); */
  background-image: url("../images/blob-scene-haikei.svg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main h2 {
  color: #fff;
  font-size: 1.4em;
  font-weight: 500;
}

.main h2 span {
  display: inline-block;
  margin-top: 10px;
  color: #4e9eff;
  font-size: 2em;
  font-weight: 600;
}

.main h3 {
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.main-btn {
  color: #fff;
  background-color: #3a6cf4;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 40px;
  transition: 0.7s ease;
}

.main-btn:hover {
  background-color: #0a49f6;
  transform: scale(1.1);
}
.facelogo {
  border-radius: 50%;
  margin-top: 25px;
}
.social-icons a {
  color: #fff;
  font-size: 1.7em;
  padding-right: 30px;
}
.social-icons a i {
  transition: all 0.5s ease-in-out;
}
.social-icons a i:hover {
  transform: translate(0px, -10px);
  transition: all 0.5s ease-in;
}

.title {
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
  background-color: #56008f;
  border-radius: 15px;
  border: 3px solid white;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  background: linear-gradient(
    to right bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.5)
  );
  color: #fff;
  min-width: 21.25em;
  box-shadow: -7px 7px 25px rgb(1 1 1 / 73%);
  /* backdrop-filter: blur(5rem); */
  /* -webkit-backdrop-filter: blur(5rem); */
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
  transition: 0.7s ease;
}
.about {
  background: linear-gradient(0deg, #a6ff00, #0011ff);
  /* background-color: #00ffa3; */
  /* opacity: 0.9;
  background-image: radial-gradient(circle at center center, #45c8f7, #00ffa3),
    repeating-radial-gradient(
      circle at center center,
      #45c8f7,
      #45c8f7,
      21px,
      transparent 42px,
      transparent 21px
    );
  background-blend-mode: multiply; */
}
@media screen and (max-width: 768px) {
  .about .card q {
    font-size: 1.5em;
  }
  .about .card p {
    font-size: 1.4em;
  }
}
.about q {
  padding: 5px;
  font-size: 1.2em;
}
#about > div > div {
  padding: 25px;
}

.card:hover {
  transform: scale(1.1);
}

.card .icon {
  color: #3ae8f4;
  font-size: 8em;
  text-align: center;
}

.info {
  text-align: center;
}

.info h3 {
  color: #9fb7fa;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}
.custom-shape-divider-top-1644089374 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  background: red;
  /* z-index: 0; */
}

.custom-shape-divider-top-1644089374 svg {
  position: relative;
  display: block;
  z-index: 25;
  width: calc(100% + 1.3px);
  height: 130px;
}

.custom-shape-divider-top-1644089374 .shape-fill {
  fill: #00b1f9;
  z-index: 25;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1644089374 svg {
    width: calc(148% + 1.3px);
    height: 130px;
  }
}

.Skills {
  background: linear-gradient(0deg, #00aeff, #00ff73);
}
.Skills .card h2 {
  text-align: center;
  padding-bottom: 10px;
}
.Skills .card {
  padding: 25px 50px;
  font-size: 1.17em;
}
#skills > div > div:nth-child(1) > h2 > svg {
  height: 20px;
  width: 30px;
  fill: white;
}
#skills > div > div:nth-child(2) > h2 > svg {
  height: 20px;
  width: 30px;
  fill: white;
}
div svg {
  height: 30px;
  width: 30px;
  fill: white;
  display: inline-block;
}
div p {
  display: inline-block;
  vertical-align: super;
}
/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: rgba(221, 221, 221, 0.411); /* Grey background */
  border-radius: 10px;
  margin-bottom: 10px;
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  padding-right: 10px;
  border-radius: 10px;
  color: white; /* White text color */
}

.html {
  width: 90%;
  background-color: #ff7b00;
} /* orange */
.css {
  width: 80%;
  background-color: #2196f3;
} /* cyan */
.js {
  width: 65%;
  background-color: #c0c404;
  color: rgb(255, 255, 255);
} /* yellow */
.photo {
  width: 85%;
  background-color: #0400ff;
} /* blue */
.video {
  width: 40%;
  background-color: #00ff22;
} /* green */
.blender {
  width: 30%;
  background-color: #ff4800;
} /* orange */

.projects {
  background: linear-gradient(0deg, #c4009a, red);
}

.projects .content {
  margin-top: 30px;
}

.project-card {
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  color: #fff;
  min-height: 14em;
  width: 23em;
  overflow: hidden;
  border-radius: 10px;
  margin: 20px;
  transition: 0.7s ease;
}

.project-card:hover {
  transform: scale(1.1);
}

.project-card:hover .project-image {
  opacity: 0.9;
}

.project-image img {
  width: 100%;
}

.project-info {
  padding: 1em;
}

.project-category {
  font-size: 0.8em;
  color: #000;
}

.project-title {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 10px;
}

.more-details {
  text-decoration: none;
  color: #3a6cf4;
}

.more-details:hover {
  color: #601cfc;
}
.contact {
  background: linear-gradient(360deg, #e4ff00, #ff5e00);
}
.contact .icon {
  font-size: 4.5em;
  /* color: #00ff73; */
  color: rgb(124, 124, 124);
}

.contact .info h3 {
  /* color: rgb(59, 187, 0); */
  color: rgb(95, 95, 95);
}

.contact .info p {
  font-size: 1.3em;
  /* color: #006b30; */
}
.contact .card {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 1),
    rgb(255, 255, 255, 0.3)
  );
  color: black;
}
.footer {
  background-color: #000016;
  color: #fff;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

.footer-title {
  font-size: 1.3em;
  font-weight: 600;
}

.footer-title span {
  color: #3a6cf4;
}

.footer .social-icons a {
  font-size: 1.3em;
  padding: 0 12px 0 0;
}

@media (max-width: 1023px) {
  header {
    padding: 12px 20px;
  }

  /* .navigation a {
    padding-left: 10px;
  } */

  .title {
    font-size: 1.8em;
  }

  section {
    padding: 80px 20px;
  }

  .main-content h2 {
    font-size: 1em;
  }

  .main-content h3 {
    font-size: 1.6em;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 641px) {
  body {
    font-size: 12px;
  }

  .main-content h2 {
    font-size: 0.8em;
  }

  .main-content h3 {
    font-size: 1.4em;
  }
}

@media (max-width: 300px) {
  body {
    font-size: 10px;
  }
}

.en-ar {
  text-decoration: none;
  color: black;
  border: solid;
  border-radius: 25px;
  padding: 5px;
  font-size: large;
  font-weight: bold;
}
.en-ar:hover {
  background-color: white;
}
