header
    div
        a(href="index.html")
            img#logoimage(src="assets/images/Logo.webp" alt="Logo")
        a#logo.logo(href="index.html") 3mr 5aled
    a.en-ar(href="index.html" style="right:unset;left: 120px;") en
label
    input(title="menu" type="checkbox")
    span.menu(style="right: unset;left:-100px")
        span.hamburger(style="left:unset;right:50px;")
    ul
        li
            a(href="#") الرئيسية
        li
            a(href="#about") نبذة عني
        li
            a(href="#skills") مهاراتي
        li
            a(href="#projects") مشاريعي
        li
            a(href="#contact") تواصل
