header
    div
        a(href='index.html')
            img#logoimage(src='assets/images/Logo.webp' alt='Logo')
        a#logo.logo(href='index.html') 3mr 5aled
    a.en-ar(href='ar.html') ع
label
    input(title='menu' type='checkbox')
    span.menu
        span.hamburger
    ul
        li
            a(href='#') Home
        li
            a(href='#about') About
        li
            a(href='#skills') Skills
        li
            a(href='#projects') Projects
        li
            a(href='#contact') Contact